    
@RenderBody()


    <div class="jumbotron">
         
        <h2> Sharing Ideas </h2>

      <h4>
        This is a ReNetworking site its like a social Networking site facebook and twitter. <br/>Here user can 
        share photos,text on his/her own timeline.<br/>They tag their frieds . <br/> They make Friends.
       <br/> Additionally they can chat. 
  </h4>
          <p><a class="btn btn-primary btn-lg" role="button" href="https://www.facebook.com">Learn More</a></p>
</div>

